<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CustomerInputFilePath" value="..\..\customerDetails.csv"/>
    <add key="DbConnectionString" value="Data Source=LT103289\SQLEXPRESS;database=ekart;Integrated Security=SSPI;"/>
  </appSettings>
</configuration>